* 
  box-sizing border-box

body 
  height 100vh
  background rgb(38,35,47)
  text-align center
  
#animate
  width 100%
  height 100%
  color #fff
  h3
    position absolute
    top 1em
    width 100%
    z-index 1
  p
    position absolute
    bottom 1em
    width 100%
    z-index 1
  svg 
    height 100%

.hide
  display none