@font-face {
  font-family: Lato;
  src: url("font/Lato-Light.ttf");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #26232f;
  text-align: center;
}
#animate {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: Lato;
}
#animate h3, #animate p {
  position: absolute;
  width: 100%;
  z-index: 1;
}
#animate svg {
  height: 100%;
}
#animate h3 {
  top: 1em;
}
#animate p {
  bottom: 1em;
}

.hide {
  display: none;
}
