@font-face {
  font-family: Lato;
  src: url("font/Lato-Light.ttf");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
  font-family: Lato;
  background: #26232f;
  text-align: center;
}
h3, p {
  position: absolute;
  width: 100%;
  z-index: 1;
}
h3 {
  top: 1em;
}
p {
  bottom: 1em;
}
.animate {
  width: 100%;
  height: 100%;
}
.animate svg {
  max-height: 100%;
  max-width: 100%;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}
