@font-face {
  font-family: Lato;
  src: url("font/Lato-Light.ttf");
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: #fff;
  font-family: Lato;
  background: #5a91f0;
  text-align: center;
}
.animate {
  position: relative;
  height: calc(100% - 8em);
  top: 4em;
}
.animate svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
h3 {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 1em;
  z-index: 1;
}
p {
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 1em;
  text-shadow: 0 0 2px rgb(34,56,96);
}

.hide {
  display: none;
}
