* 
  box-sizing border-box

body 
  height 100vh
  color #fff
  background rgb(38,35,47)
  text-align center
  
h3
  position absolute
  top 1em
  width 100%
  z-index 1
p
  position absolute
  bottom 1em
  width 100%
  z-index 1
  
.animate
  width 100%
  height 100%
  svg 
    max-height 100%
    max-width 100%

.table
  display table
  width 100%
  height 100%
  .cell 
    display table-cell
    vertical-align middle

.hide
  display none